<h1> This is LIHP </h1>

<h2>Add Projects to your profile</h2>

<%= link_to "Add Project", new_project_path %></br>
<%= link_to "Add Technologies", new_technology_path %></br>
<%= link_to "View Similar Projects", similar_projects_path %></br>
<%= link_to "People with same technologies", same_technologies_path %></br>
<%= link_to "Advance Search", advance_search_path %></br>
<%= link_to "Message Inbox", messages_path %></br>
<%= link_to "Create a new Circle", new_circle_path %></br>
<%= link_to "My Circles", circles_path %></br>
