<h1>In same technologies</h1>

  <% @tech_details.each do |tech_name, users| %>
    <p>
    <strong>Technology Name: <%= tech_name %></strong></br> </br>
        <% users.each do |user_details| %>
          User's Name: <%= user_details['fname'] %>
          <%= user_details['lname'] %>&nbsp;&nbsp;&nbsp;&nbsp;
          <%= link_to "Send Message", personal_message_path(receiver: user_details['id']) %>


          <div class="dropdown">
            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
              Send a request to join your circle
              <span class="caret"></span>
            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
              <% pending_circles=[] %>
              <% current_user.circles.each do |circle| %>
                <li>
                  <% if FriendCircle.where(user_id: user_details['id']).where(circle_id: circle.id ).present? %>
                    <% pending_circles << circle %>
                  <% else %>
                    <%= link_to circle.name, circle_request_path(user_id: user_details['id'], circle_id: circle.id, user_status: 0), method: :post %>
                  <% end %>
                </li>
              <% end %>
                <% pending_circles.each do |circle| %>
                  <li>
                    Pending request for <%= circle.name %>
                  </li>
                <% end %>
            </ul>

          </div>
          </br> </br>
        <% end %>
    </p>
  <% end %>

