<h1>Add a new project</h1>

<p> number of projects is: <%= current_user.projects.size %></p>

  <% current_user.projects.each do |project| %>
    <p>
    Project Name : <%= project.name %>     </br>
    App Type     : <%= project.app_type %> </br>
    Platform     : <%= project.platform %> </br>
    </p>
  <% end %>

<%= form_for @project, url: projects_create_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :project_name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :project_application_type %>
    <%= f.text_field :app_type, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :platform %>
    <%= f.text_field :platform, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Add Project" %>
  </div>
<% end %>
