<h1>Add a new project</h1>

<p>
  <% if (current_user.technologies.size != 0) %>
    Your Technologies: 
  <% end %>

  <% current_user.technologies.each do |t| %>
    <%= t.name %>,
  <% end %>
</p>

<%= form_for @technology, url: technologies_create_path, method: :post do |f| %>
  <div class="field">
    <%= f.label :technology_name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Add Technology" %>
  </div>
<% end %>

