<h1>Add a new project</h1>

<p>
  <% if (current_user.technologies.size != 0) %>
    Your Technologies:
  <% end %>

  <% current_user.technologies.each do |t| %>
    <% unless t.id.nil? %>
      <%= t.name %>
      <%= link_to 'Delete', technology_path(t.id), method: :delete, data: {confirm: "You sure?"} %>
      </br>
    <% end %>
  <% end %>
</p>

<%= form_for @technology, url: technologies_path, method: :post do |f| %>

  <p> <%= render 'shared/error_messages', model: f.object %> </p>

  <div class="field">
    <%= f.label :technology_name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Add Technology" %>
  </div>
<% end %>

