<!DOCTYPE html>
<html>
  <head>
    <title>FindYourPair</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to(image_tag("home-icon.png", class: "navbar-brand", size: "60"), root_path) %>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

          <ul class="nav navbar-nav">
            <% if user_signed_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Projects <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Add Project", new_project_path %></li>
                <li><%= link_to "View People With Similar Projects", similar_projects_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Technologies <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "Add Technologies", new_technology_path %></li>
                <li><%= link_to "View People With Same Technologies", same_technologies_path %></li>
                <li><%= link_to "My Technologies", technologies_path %></li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Circles <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><%= link_to "My Circles", circles_path %></li>
                <li><%= link_to "Create a new Circle", new_circle_path %></li>
                <li><%= link_to "Circle Requests", circle_requests_path %></li>
              </ul>
            </li>

            <li class="<%= active_class(messages_path) %>">
              <%= link_to "Message Inbox", messages_path %>
            </li>

            <li class="<%= active_class(advance_search_path) %>">
              <%= link_to "Advance Search", advance_search_path %>
            </li>

            <% end %>
          </ul>


          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
              <li class="navbar-text">
                Logged in as <%= current_user.email.to_s %>
              </li>
              <li>
                <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
              </li>
            <% elsif(controller_name == 'sessions') %>
              <li class="<%= active_class(new_user_registration_path) %>">
                <%= link_to 'Sign Up', new_user_registration_path %>
              </li>
            <% elsif(controller_name == 'registrations') %>
              <li class="<%= active_class(new_user_session_path) %>">
                <%= link_to 'Log In', new_user_session_path  %>
              </li>
            <% else %>
              <li class="<%= active_class(new_user_registration_path) %>">
                <%= link_to 'Sign Up', new_user_registration_path %>
              </li>
              <li class="<%= active_class(new_user_session_path) %>">
                <%= link_to 'Log In', new_user_session_path  %>
              </li>
            <% end %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>





    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <%= value %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
